.designSketchGrid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.1fr);
    margin-left: 5%;
    margin-right: 5%;
}


.designSketchGrid img{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.designSketchGrid img:nth-child(0){
 
    height: 150%;

}

.btnSection{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.btnSection a:nth-child(1){
    background-color: rgba(255,255,255,0.5);
    border-radius: 5%;

    
    margin-left: 5%;

    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 30%;
    /* grid-template-columns: 2; */

    text-align: right;
}

.btnSection a:hover{
    background-color: rgba(255,255,255, 0.8);
}

.btnIcon{
    margin-top: 5%;

    max-width: 20%;
    max-height: 20%;
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 2%;
}

.wireframeGrid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}



@media (max-width: 512px){ 
    .btnSection{
        display: block;
    }
    }
  
    @media (max-width: 1024px){ 
  .btnSection{

  }
    
  .btnSection{

   }
    }
    