.designSketchGrid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.1fr);
    margin-left: 5%;
    margin-right: 5%;
}


.designSketchGrid img{
    max-height: 80%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.designSketchGrid img:nth-child(0){
 
    height: 150%;

}

.btnSection{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 3%;
    margin-right: 5.5%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.btnSection a{
    background-color: rgba(255,255,255,0.5);
    border-radius: 5%;

    padding-bottom: 1%;
    padding-left: 2%;
    width: 30%;
    padding-right: 5%;
    /* grid-template-columns: 2; */

    text-align: right;
}

.btnSection a:hover{
    background-color: rgba(255,255,255, 0.8);
}

.btnSection a:nth-child(1){
    margin-left: 10%;
}

.btnSection a:nth-child(2){
    margin-left: 40%;
}

.btnSection a:nth-child(3){
    margin-left: 70%;
}



.btnIcon{
    margin-top: 5%;

    max-width: 15%;
    max-height: 20%;
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 2%;
}

.wireframeGrid{
    display: grid;
    gap: 0.01rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
    /* margin-bottom: -20%; */
}

.wireframeGrid img
{
    grid-column: 1;
     max-width: 80%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.wireframeGrid h2
{
    grid-column: 2;
}

.wireframeGrid p
{
    grid-column: 2;
    /* padding-right: 15%; */
    margin-top: -30%;
}

.styleGrid{
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 5%;
}

.styleGrid img{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

.btnEx{
    margin-left: 5%;
}

@media (max-width: 600px){ 
    .btnSection{
        display: block;
    }

    .wireframeGrid{
        display: block;
        margin-top: 10%;
    }

    p{
        margin-top: 20%;
    }
    }
  
    @media (max-width: 1024px){ 
    }
    