html{
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(66, 86, 183);
    /* background-image: "Images/ArtCanvas.jpeg"; */
    cursor: auto;
}

html, body{
    height: 100%;
    margin: 0;
}

main{
    min-height: 100vh; /* set height to 100% of viewport */
    display: flex;
    flex-direction: column;
}

p{
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.5);
    padding: 1%;
    border-radius: 5%;
}

ul{
    list-style-type: none;
    margin-right: 5%;
    margin-left: 10%;
}

li
{
    display: inline;
    padding-right: 5%;
    margin-top: 1%;
}


a{
    background-color: rgba(255,255,255,0.5);
    padding: 0.5%;
    border-radius: 5%;
    width: 20%;
}

a:hover{
    color: purple;
    background-color: rgba(255,255,255,0.8);
    
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
}

h2{
    margin-left: 5%;
}

.indexGrid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.indexGrid :nth-child(1)
{
    background-color: rgba(255,255,255,0.5);
    padding: 2%;
    border-radius: 5%;
}

.indexGrid :nth-child(2)
{
    background-color: rgba(255,255,255,0.5);
    padding: 2%;
    border-radius: 5%;
}

.referenceContainer p{
    background-color: rgba(255,255,255,0.5);;
    border-radius: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
    margin-left: 3%;
    margin-right: 5%;
}

.referenceTitle{
    font-weight: bold;
    text-align: center;
    
}

.roughSketchGrid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5%;
    margin-bottom: 5%;
}

.wireframeBtn{

}

.wireframeBtn:hover{
    
}

.iLink{
    padding-right: 5%;
}

footer{
    padding: 1%;
    background-color: rgba(255,255,255,0.5);
    margin-top: auto; 
}

.active{
    color: purple;
}

.homeImg{
    max-width: 47%;
    max-height: 25%;
    /* height: auto;
    width: auto; */
    border-radius: 5%;
}

h3{
    margin-left: 5%;
    margin-right: 5%;
}

cite{
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 512px){ 
   ul{
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 5%;
   }

    }
  
    @media (max-width: 1024px){ 

    
    }